 <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer_col">
                    <h4>NHAIRLINE</h4>
                    <ul>
                        <li>
                            <a href="">Công ty</a>
                        </li>
                        <li>
                            <a href=""> Đối tác</a>
                        </li>
                        <li>
                            <a href=""> Đội bay</a>
                        </li>
                        <li>
                            <a href="">Cơ hội việc làm</a>
                        </li>
                    </ul>
                </div>

                <div class="footer_col">
                    <h4>Pháp lý</h4>
                    <ul>
                        <li>
                            <a href="">Điều khoản</a>
                        </li>
                        <li>
                            <a href="">Bảo mật thông tin</a>
                        </li>
                        <li>
                            <a href="">Điều lệ vận chyển</a>
                        </li>
                        <li>
                            <a href="">Quy chế</a>
                        </li>
                    </ul>
                </div>


                <div class="footer_col">
                    <h4>Đặt vé</h4>
                    <ul>
                        <li>
                            <a href="">
                                Đặt vé ở đâu?
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Đại lý bán vé
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Hình thức thanh toán
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Đăng ký làm đại lý
                            </a>
                        </li>
                    </ul>

                </div>
                
                <div class="footer_col">
                    <h4>Hỗ trợ</h4>
                    <ul>
                        <li>
                            <a href="">
                                Tư vấn đặt vé
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Tư vấn khuyến mãi
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Tư vấn thanh toán
                            </a>
                        </li>
                        <li>
                            <a href="">Hỗ trợ pháp lý</a>
                        </li>
                    </ul>
                </div>

                <div class="footer_col">
                    <h4>Vận tải hàng hóa</h4>
                    <ul>
                        <li>
                            <a href="">
                                Trang web hàng hóa
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Copyright -->
    <div class="copyright">
        <p>Copyright &copy 2023 - Bản quyền thuộc về NHAIRLINE</p>
    </div>

    <!-- Modal Login -->
    <div class="modal js_modal">
            <div class="form login form_login">
                <div class="form-content">
                    <h1 class="login_header">Đăng nhập</h1>
                    <form action="#">
                        <div class="field input-field">
                            <input type="email" placeholder="Email của bạn" class="input">
                        </div>
                        <div class="field input-field">
                            <input type="password" placeholder="Mật khẩu" class="password">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>
                        <div class="form-link">
                            <a href="#" class="forgot-pass">Quên mật khẩu?</a>
                        </div>
                        <div class="field button-field">
                            <button>Đăng nhập</button>
                        </div>
                    </form>
                    <div class="form-link">
                        <span>Bạn chưa có tài khoản? <a href="./signup.html" class="link signup-link">Đăng ký ngay</a></span>
                    </div>
                </div>
                <div class="line"></div>
                <div class="media-options">
                    <a href="#" class="field facebook">
                        <i class='bx bxl-facebook facebook-icon'></i>
                        <span>Đăng nhập với Facebook</span>
                    </a>
                </div>
                <div class="media-options">
                    <a href="#" class="field google">
                        <img src="./assets/image/google.png" alt="" class="google-img">
                        <span>Đăng nhập với Google</span>
                    </a>
                </div>
            </div>
    </div>
    <form enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Tải lên">
    </form>
