{% extends "layout/base.html" %}

{% block title %}SN AIRLINE - Kết nối giấc mơ và điểm đến của bạn{% endblock %}
{% block css %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/bookticket.css')}}">
{% endblock %}
{% block js %}

<script>
    var checkbox = document.getElementById('2')

    checkbox.disabled = true;

</script>
{% endblock %}
{% block content %}

<section class="section_container booking_container">

    <form method="get" action="{{ url_for('book_ticket') }}" enctype="multipart/form-data">
        <div class="form_group">
            <span><i class="ri-map-pin-line"></i></span>
            <div class="input_content">
                <div class="input_group">
                    {% if destination %}
                    <h2 class="displayforpage">{{destination}}</h2>
                    {% endif %}
                    <select class="from-input" name="destination" id="destination">

                    </select>
                    <label></label>
                </div>
                <p>Hiện tại</p>
            </div>
        </div>
        <div class="form_group">
            <span><i class="ri-map-pin-line"></i></span>
            <div class="input_content">
                <div class="input_group">
                    {% if destination %}
                    <h2 class="displayforpage">{{departure}}</h2>
                    {% endif %}
                    <select class="from-input" name="departure" id="departure">

                    </select>
                    <label></label>
                </div>
                <p>Điểm đến</p>
            </div>
        </div>
        <div class="form_group">
            <span><i class="ri-calendar-line"></i></span>
            <div class="input_content">
                <div class="input_group">
                    {% if destination %}
                    <h2 class="displayforpage">{{go_date}}</h2>
                    {% endif %}
                    <input type="date" id="go_date" name="go_date"/>
                </div>
                <p>Thời gian đi</p>
            </div>
        </div>


        <button type="submit" class="btn" id="search" style="margin-left:100px"><i class="ri-search-line"></i></button>

    </form>
</section>

<!-- Booking Tickets -->
<div class="booking_ticket">
    <div class="grid">
        <div class="row_grid">
            <div class="col_2 book-ticket">
                <div class="search_title">

                    <h3>Tìm theo giờ</h3>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="menu_sidebar">
                    <div class="search_ticket">
                        <div class="infor_search">
                            <div class="input-container">
                                <input type="checkbox" name="text-ticket" class="input">
                                <div class="content-search">
                                    <h1>Chuyến bay buổi sớm</h1>
                                    <p class="ml-0">(00:00 - 06:00)</p>
                                </div>

                            </div>

                            <div class="input-container">
                                <input type="checkbox" name="text-ticket" class="input"">
                                <div class=" content-search">
                                    <h1>Chuyến bay buổi sáng</h1>
                                    <p>(06:00 - 12:00)</p>
                                </div>

                            </div>

                            <div class="input-container">
                                <input type="checkbox" name="text-ticket" class="input"">
                                <div class=" content-search">
                                    <h1>Chuyến bay buổi chiều</h1>
                                    <p>(12:00 - 18:00)</p>
                                </div>
                            </div>
                            <div class="input-container">
                                <input type="checkbox" name="text-ticket" class="input"">
                                <div class=" content-search">
                                    <h1>Chuyến bay buổi tối</h1>
                                    <p>(18:00 - 24:00)</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="search_title">
                    <i class="fa-solid fa-sort"></i>
                    <h3>Sắp xếp giá</h3>
                </div>

                <form class="radio-form">
                    <input value="a" name="hopping" type="radio" id="a">
                    <label for="a"><span></span>Tăng dần</label>
                    <input value="b" name="hopping" type="radio" id="b">
                    <label for="b"><span></span>Giảm dần</label>

                    <div class="worm">
                        <div class="worm__segment"></div>
                    </div>
                </form>
            </div>

            <div class="col_10">
                <div class="title_cards">
                    <br>
                    <h1>ĐẶT VÉ CÙNG SN AIRLINE</h1>
                    <br>
                </div>
                <br>
                <div class="select-ticket">
                    <h1>Phổ thông</h1>
                    <h1>Thương gia</h1>
                </div>

                <div class="card_tickets">
                    {% for flight in all_flight %}

                    <div class="card_ticket">
                        <!-- // row -->
                        <div class="group-content">
                            <div class="card-content">
                                <div class=" from">
                                    <h3 class="time_from">{{ flight.start_time}}</h3>
                                    <h4 class="sign_from">{{ flight.destination_sign }}</h4>
                                </div>

                                <div class=" center">
                                    <i class="fa-solid fa-plane"></i>
                                    <h5 class="time_all">{{ flight.all_time_fly }}</h5>
                                </div>

                                <div class=" to">
                                    <h3 class="time_to">{{ flight.end_time }}</h3>
                                    <h4 class="sign_to">{{ flight.departure_sign }}</h4>
                                </div>
                            </div>


                            <div class=" prices">
                                <div class="price_1">
                                    <a href="#" class="price">{{ flight.price_seat_rank_1 }} VNĐ</a>
                                    <i class="fa-solid fa-chevron-down"></i>


                                </div>

                                <div class="price_2">
                                    <a href="#" class="price">{{ flight.price_seat_rank_2 }} VNĐ</a>
                                    <i class="fa-solid fa-chevron-down"></i>
                                </div>
                            </div>
                        </div>

                        <div class="itinerary-part-offer second">

                            <div class="offer-branch">
                                 <div style="display:block; ">
                            <h3 style="text-align:center; align-items:center; color:indianred ">{{flight.type_flight}}</h3>
                            <br>

                                     {% for i in range(flight.list_stop_points|length) %}

                            <div style="text-align:center; align-items:center;border: 2px solid #018de5; padding: 10px;">
                                <h4 style="display:inline-flex; color:#018de5">điểm dừng {{  i+1 }}:</h4>
                                <span style="margin-left:150px">{{ flight.list_stop_points[i] }}</span>
                            </div>

                                     {% endfor %}



                        </div>

                                <div class="show-ticket">
                                    <h1>Còn Vé</h1>
                                </div>
                                <div class="extand-ticket">
                                    <ul>
                                        <li>
                                            <i class="fa-solid fa-check" style="color: #018de5;"></i>
                                            Hành lý xách tay: Không quá 12kg
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-xmark" style="color: crimson;"></i>
                                            Không bao gồm hành lý ký gửi
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-dollar-sign" style="color: #018de5;"></i>
                                            Thay đổi mất phí
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-xmark" style="color: crimson;"></i>
                                            Không được phép đổi chuyến tại sân bay
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-dollar-sign" style="color: #018de5;"></i>
                                            Hoàn/hủy vé mất phí
                                        </li>
                                        <li>
                                            <i class="fa-regular fa-paper-plane" style="color: #0d65fd;"></i>
                                            Tích lũy 10% số dặm
                                        </li>
                                        <li>
                                            <a href="#">XEM CHI TIẾT</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="offer-branch">
                                <div class="content-header">
                                    <h1>Chọn ghế bay</h1>
                                </div>

                                <div class="extand-ticket">

                                    <form>
                                        <ol class="cabin fuselage">

                                            <li class="row row--2">
                                                <ol class="seats" type="A">
                                                    <li class="seat">
                                                        <input type="checkbox" id="1"/>
                                                        <label for="1">1</label>
                                                    </li>
                                                    <li class="seat select">
                                                        <div class="selectd">2</div>
                                                    </li>
                                                    <li class="seat">
                                                        <input type="checkbox" id="3"/>
                                                        <label for="3">3</label>
                                                    </li>
                                                    <li class="seat">
                                                        <input type="checkbox" id="4"/>
                                                        <label for="4">4</label>
                                                    </li>
                                                    <li class="seat">
                                                        <input type="checkbox" id="5"/>
                                                        <label for="5">5</label>
                                                    </li>
                                                    <li class="seat">
                                                        <input type="checkbox" id="6"/>
                                                        <label for="6">6</label>
                                                    </li>
                                                </ol>
                                            </li>
                                        </ol>
                                        <br>
                                        <button type="submit" class="btn" style="padding: 16px;
                                                margin-left:400px;
                                                width: 60px;
                                                font-size: 1.5rem;
                                                border-radius: 20px;
                                                background-color: #018de5;
                                                border: 1px solid #fff;
                                                cursor: pointer;">
                                                <i class="fa-solid fa-check"></i>
                                        </button>
                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>
</div>
<h1>{{all_flight}}</h1>
<h1>{{list_flight_id}}</h1>

<script>
    var fromDateShow = document.querySelector('#destination');
    var toDateShow = document.querySelector('#departure');
    var placeArray = [];
    var destinations = {{ destinations | tojson }};

    var fromDateOptions = '<option></option>';
    destinations.forEach((destination) => {
        fromDateOptions += `<option>${destination}</option>`;

    });

    fromDateShow.innerHTML = fromDateOptions;

    fromDateShow.addEventListener("change", function () {
        var selectedValue = this.value;

        var departures = destinations.filter(function(item) {
            return item !== selectedValue;
        });


        var toDateOptions = '<option></option>';
        departures.forEach((departure) => {
            toDateOptions += `<option>${departure}</option>`;

        });
        toDateShow.innerHTML = toDateOptions;
    });

    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("quantity_child").addEventListener("click", function() {
            var quantityValue = document.getElementById("quantity_child").innerText;

            fetch("/book_ticket", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ "quantity": quantityValue })
            })
                .then(response => response.json())
                .then(data => {
                console.log(data);
            })
                .catch(error => {
                console.error("Error:", error);
            });
        });
    });

</script>
<script src="{{ url_for('static', filename='javascript/bookticket.js')}}"></script>

{% endblock %}

