{% extends "layout/base.html" %}

{% block title %}SN AIRLINE - Kết nối giấc mơ và điểm đến của bạn{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/introduce.css') }}">
{% endblock %}
{% block js %}

{% endblock %}
{% block content %}
 <section class="main-body">
        <img src="{{ url_for('static', filename='images/Cloud.png') }}" />
        <div class="intro-container">
            <div class="crossbar">
                <h1>THƯƠNG HIỆU SN AIRLINE</h1>
            </div>
            <div class="row-intro">
                <div class="intro-col5">
                    <div class="intro-box-full">
                        <img src="{{ url_for('static', filename='images/Introduce1.jpg') }}" class="img_res">
                    </div>
                </div>
                <div class="intro-col5">
                    <div class="intro-box-5">
                        <h2>SN AIRLINE:</h2>
                        <p>
                            SN AIRLINE không ngừng cố gắng cải thiện chất lượng dịch vụ và phấn đấu để trở thành hãng
                            hàng không hàng đầu trong nước. Đồng thời,
                            SN AIRLINE đang từng bước khẳng định vị thế của mình trên thị trường hàng không thế giới.
                        </p>
                    </div>
                    <div class="intro-box-5">
                        <h2>TẦM NHÌN:</h2>
                        <p>
                            SN AIRLINE không ngừng mở rộng mạng lưới bay trong và ngoài nướ, cung cấp nhiều sự lựa chọn
                            cho khách hàng đến các địa điểm khác nhau. Hơn thế nữa, SN AIRLINE tập trung phát triển và
                            cải thiện chất lượng dịch vụ để mang lại cảm giác trải nghiệm tốt nhất cho khách hàng của
                            mình.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row-intro">
                <div class="intro-col5">
                    <div class="intro-box-5">
                        <h2>BỀ DÀY LỊCH SỬ:</h2>
                        <p>
                            SN AIRLINE ra đời từ nhũng năm 56 của thế kỉ XX. Suốt chặng đường dài, SN AIRLINE đã đạt những
                            mốc son thắm đỏ cho riêng mình. Đến bây giờ, SN AIRLINE đã tự tin khẳng định bản thân mình
                            đối với các đối thủ cạnh tranh của mình không những trong nước mà còn trên thế giới.
                        </p>
                    </div>
                    <div class="intro-box-5">
                        <h2>BAN LÃNH ĐẠO:</h2>
                        <p>
                            SN AIRLINE với hai chủ tịch là ông Trịnh Tấn Sĩ và ông Hoàng Văn Nam cùng với ban lãnh đạo
                            dày dặn kinh nghiệm đã từng bước đưa thương hiệu SN AIRLINE chạm đến đỉnh cao vinh quang. Hơn
                            thế nữa, ban lãnh đạo của SN AIRLINE không ngừng cải tiến, đổi mới, nắm bắt công nghệ, từng
                            bước đưa SN AIRLINE phát triển mạnh mẽ và dần khẳng định vị thế của mình.
                        </p>
                    </div>
                </div>
                <div class="intro-col5">
                    <div class="intro-box-full">
                        <div class="intro-image"><img src="{{ url_for('static', filename='images/Introduce2.jpg') }}"></div>
                        <div class="intro-image"><img src="{{ url_for('static', filename='images/Introduce3.jpg') }}"></div>
                    </div>
                </div>
            </div>

            <div class="row-intro">
                <div class="intro-col5">
                    <div class="intro-box-full">
                        <div class="intro-image"><img src="{{ url_for('static', filename='images/Introduce4.jpg') }}"></div>
                        <div class="intro-image"><img src="{{ url_for('static', filename='images/Introduce5.jpg') }}"></div>
                    </div>
                </div>
                <div class="intro-col5">
                    <div class="intro-box-5">
                        <h2>NHẬN DẠNG THƯƠNG HIỆU:</h2>
                        <p>
                            SN AIRLINE với logo độc đáo. Chiếc máy bay trong logo thể hiện những ước mơ, hi vọng mà
                            SN AIRLINE hướng tới trong tương lai.
                        </p>
                    </div>
                    <div class="intro-box-5">
                        <h2>CẢI TIẾN CÔNG NGHỆ:</h2>
                        <p>
                            Theo phương châm không ngừng cải tiến công nghệ, bắt kịp cái mới, SN AIRLINE đầu tư mạnh phát
                            triển công nghệ, đem lại cho người dùng những trải nghiệm thú vị và độc đáo nhất. Việc phát
                            triển công nghệ không chỉ dừng ở máy móc và còn trên các phương diện như trực tuyến, quảng
                            cáo. SN AIRLINE luôn đặt xu thế công nghệ lên hàng đầu và đây chính là điểm mạnh của
                            SN AIRLINE trên thị trường hàng không.
                        </p>
                    </div>
                </div>
            </div>
            <div class="crossbar">
                <h1><i class="fa-solid fa-dash"></i></h1>
            </div>
        </div>
    </section>

{% endblock %}



