{% extends "layout/base.html" %}

{% block title %}SN AIRLINE - Kết nối giấc mơ và điểm đến của bạn{% endblock %}
{% block css %}

{% endblock %}
<div class="container">
        <div class="title">Đăng ký</div>
        <div class="content">
            <form action="#">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Họ và tên</span>
                        <input type="text" placeholder="Nhập họ và tên" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Tên đăn nhập</span>
                        <input type="text" placeholder="Nhập tên  mật khẩu" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="text" placeholder="Nhập email" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Số điện thoại</span>
                        <input type="text" placeholder="Nhập số điện thoại" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Mật khẩu</span>
                        <input type="text" placeholder="Nhập mật khẩu" required>
                    </div>

                    <div class="input-box">
                        <span class="details">Xác nhận mật khẩu</span>
                        <input type="text" placeholder="Xác nhận mật khẩu của bạn" required>
                    </div>
                </div>
                <div class="gender-details">
                    <input type="radio" name="gender" id="dot-1">
                    <input type="radio" name="gender" id="dot-2">
                    <input type="radio" name="gender" id="dot-3">
                    <span class="gender-title">Giới tính</span>
                    <div class="category">
                        <label for="dot-1">
                            <span class="dot one"></span>
                            <span class="gender">Nam</span>
                        </label>
                        <label for="dot-2">
                            <span class="dot two"></span>
                            <span class="gender">Nữ</span>
                        </label>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Register">
                </div>
            </form>
        </div>
    </div>