<link rel="stylesheet" href="{{ url_for('static', filename='css/cardticket.css') }}">
<section>
<form class="articles" method="post" action="{{ url_for('test')}}">
    {% for item in value_from_session %}
  <article>
    <div class="article-wrapper">
      <div class="article-body">
        <h2>ID chuyến bay:{{ flight_info.id_flight}}</h2>
          {% if item|int in flight_info.list_seat_rank_1 %}
            <h3>Thể loại vé: <span>Thương gia</span></h3>
            <h3>Tiền vé: <span>{{ "{:,.1f}".format(flight_info.price_seat_rank_1) }} VNĐ</span></h3>
          {% else %}
            <h3>Thể loại vé: <span>Phổ thông</span></h3>
            <h3>Tiền vé: <span>{{ "{:,.1f}".format(flight_info.price_seat_rank_2) }} VNĐ</span></h3>
          {% endif %}
        <p>Số ghế:{{ item }} </p>
         <div class="field input-field">
            <input type="text" placeholder="Họ Và Tên" class="input" id="username{{item}}" name="username{{item}}">
        </div>
        <div class="field input-field">
            <input type="text" placeholder="Số căn cước" class="input" id="cccd{{item}}" name="cccd{{item}}">
        </div>
        <div class="field input-field gender">
            <input type="number" placeholder="Giới Tính" class="input" id="gender{{item}}" name="gender{{item}}">
        </div>
        <div class="field input-field">
            <input type="text" placeholder="Số điện thoại" class="input" id="phone{{item}}" name="phone{{item}}">
        </div>
        <div class="field input-field">
            <input type="email" placeholder="Email" class="input" id="email{{item}}" name="email{{item}}">
        </div>
        <div class="field input-field">
            <input type="date" placeholder="Ngày Sinh" class="input" id="birthday{{item}}" name="birthday{{item}}">
        </div>
      </div>
    </div>
  </article>
{% endfor %}

<button type="submit" class="btn" style="padding: 16px;
                                                margin-left:1000px;
                                                width: 160px;
                                                border-radius: 20px;
                                                font-size: 1.5rem;
                                                text-align: center;
                                                align-items: center;
                                                background-color: red;
                                                border: 1px solid #fff;
                                                color:white;
                                                cursor: pointer;">
    Thanh toán
</button>
</form>







</section>