* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Grid */
.grid {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}

.row_grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 32px;
}

.col_2 {
    width: 16, 6667%;
    padding-left: 15px;
    padding-right: 15px;
}

.col_6 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}


.col_10 {
    width: 80%;
    padding-left: 15px;
    padding-right: 15px;
}


.book-ticket{

    background-color: #f8f8f8;
}
.search_title {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #000;
    flex-direction: row;
    align-items: center;
}
.search_title h3 {
    color: #018de5;
}

.search_title i {
    margin-left: 20px;
}

.menu_sidebar {
    background-color: #fff;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.menu_sidebar .search_ticket .infor_search .input-container {
    margin: 20px 0;
}
.infor_search{
    box-shadow: none!important;
    margin: 0;
}
/* Input Search */
.input-container {
    display: flex;
    align-items: start;

}
.ml-0 {
   margin-left: 0px;
}
.input {
    font-size: 1em;
    margin-right: 12px;
    padding: 0.6em 1em;
    border: none;
    border-radius: 6px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    max-width: 200px;
    color: #333;
}
.content-search h1{
    font-size: 16px;
    line-height: 12px;
}
.content-search p {
    font-size: 12px;
    margin-top: 8px;
    color: #777E91;
    margin-left: 12px;
}

.input:hover {
    background-color: #f2f2f2;
}

.input:focus {
    outline: none;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input::placeholder {
    color: #999;
}

.highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #6c63ff;
    transition: width 0.3s ease;
}

.input:focus+.highlight {
    width: 100%;
}

/* Optional: Animation on focus */
@keyframes input-focus {
    from {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
    }

    to {
        transform: scale(1.02);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}

.input:focus {
    animation: input-focus 0.3s ease;
}

/* Radio */
.radio-form {
    display: block;
    margin: auto;
    max-width: 10em;
    position: relative;
    margin-top: 20px;
}

.radio-form input {
    position: fixed;
    top: -1.5em;
    left: -1.5em;
}

.radio-form label {
    cursor: pointer;
    display: block;
    font-weight: bold;
    text-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.2);
    transition: color 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.radio-form label:not(:last-of-type) {
    margin-bottom: 1.5em;
}

.radio-form label span {
    box-shadow: 0 0 0 0.2em currentColor inset, 0 0.2em 0.2em rgba(0, 0, 0, 0.2), 0 0.3em 0.2em rgba(0, 0, 0, 0.2) inset;
    display: inline-block;
    margin-right: 0.5em;
    vertical-align: bottom;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    transition: transform 0.2s cubic-bezier(0.5, 0, 0.5, 2), box-shadow 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95), color 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.radio-form input:checked+label,
.radio-form input:checked+label span {
    color: #255ff4;
}

.radio-form input:checked+label,
.radio-form input:checked+label span {
    transition-delay: 0.4s;
}

.radio-form label span {
    transform: scale(1.2);
}

.radio-form .worm {
    top: 0.375em;
    left: 0.375em;
    position: absolute;
}

.radio-form .worm__segment {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.75em;
    height: 0.75em;
    border-radius: 50%;
    transition: transform 0.4s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.radio-form .worm__segment:before {
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
    background: currentColor;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.radio-form .worm__segment:first-child:before,
.radio-form .worm__segment:last-child:before {
    box-shadow: 0 0 1em 0 currentColor;
}

@keyframes hop1 {

    from,
    to {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-1.5em);
    }
}

@keyframes hop2 {

    from,
    to {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-1.5em);
    }
}

@keyframes hop3 {

    from,
    to {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-1.5em);
    }
}

.radio-form input:nth-of-type(1):checked~.worm .worm__segment {
    transform: translateY(0);
}

.radio-form input:nth-of-type(1):checked~.worm .worm__segment:before {
    animation-name: hop1;
}

.radio-form input:nth-of-type(2):checked~.worm .worm__segment {
    transform: translateY(3em);
}

.radio-form input:nth-of-type(2):checked~.worm .worm__segment:before {
    animation-name: hop2;
}

.radio-form input:nth-of-type(3):checked~.worm .worm__segment {
    transform: translateY(6em);
}

.radio-form input:nth-of-type(3):checked~.worm .worm__segment:before {
    animation-name: hop3;
}

.title_cards {
    width: 100%;
    text-align: center;
    color: #018de5;
}

/* Card Tickets*/

.card_tickets{

    border-bottom: 1px solid #c8c8c8;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.18);
}

.card_ticket{


    display: flex;
    flex-direction: column;

}

.card_ticket .prices{
    display: flex;
    width: 55%;
}

.card_ticket .prices div a{
    text-decoration: none;
}

.card_ticket .prices div {
    border: 1px solid #000;


}
.prices div:first-child{
    margin: 0 10px 0 10px
}
.card-content{
    display: flex;
    justify-content: space-between;
    width: 45%;
}
.prices div{

    border-radius: 10px;
    padding:10px 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.price_1{
    width: 50%;
    background-color:#beddf0;
    border: 1px solid #0a9af3;
}
.price_2{
    background-color:#fbf9e4;
    border:1px solid #e3dd99;
    width: 50%
}
.offer-branch {
    display: flex;
    flex-direction: column;
    width: 25%;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
}
.extand-ticket ul li i{
    margin-right: 10px;
}
.itinerary-part-offer{
    border: 1px solid #c8c8c8;
    border-top: none;
    padding: 10px 12px;
    display: none;

}
.content-header{
    border-bottom:1px solid #c8c8c8;
}
.show-ticket{
    border-bottom:1px solid #c8c8c8;
}
.group-content{
    display: flex;
    border: 1px solid #c8c8c8;
    border-bottom: none;
    padding: 20px;
    margin: 15px 0 0 0;
    border: 1px solid #c8c8c8;
}
.content-header h1{
    text-align: center;
    padding:20px 0;
    font-size:20px ;
}
.show-ticket{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:24px 5px;
}
.show-ticket h1 {
    font-size: 20px;
    opacity: 0.5;
}
.extand-ticket{
    padding: 20px 17px;
}
.extand-ticket ul li{
    margin-bottom: 16px;
}
.offer-branch:not(:last-child) {
    margin-right: 1%;
}
.second .offer-branch{
    width: 50%;
}
.select-ticket{
    display: flex;
    justify-content: end;
}
.select-ticket h1{
    width: 28%;
    margin-top: 2%;
    font-size: 26px;
    text-align: center;

}
.select-ticket h1:not(:last-child){
    border-right: 2px solid #ccc;
}
.input-group div{
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #3d5cb8;
    color: #0f172a;
}
.booking_container select option{
    border-radius: none;
    border: none;

}
.autocomplete-list {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
  }
  .autocomplete-item {
    padding: 5px;
    cursor: pointer;
  }
  .booking_container select{
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #3d5cb8;
    color: #0f172a;
  }
  .input_group div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: none !important;
    padding: 10px 0;
    font-size: 1rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #3d5cb8;
    color: #0f172a;
    background-color: none!important;
  }
  .hanhkhach{
    position: relative;
  }
  .list-customer{
    border: 1px solid #ccc;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 99999;
    background-color: #fff;
    margin-top:30%;
    opacity: 1;
  }
  .list-customer li{
    display: flex;
    justify-content: space-between;
    padding: 10px 28px 10px 10px;
  }
  .btn-customer{
    display: flex;
    justify-content: space-between;
  }
  .btn-customer button:not(:last-child){
    margin-right: 8px;
  }
  .psg-type{
    display: flex;
    flex-direction: column;
  }
*,*:before,*:after {
  box-sizing: border-box;
}

.plane {
  margin: 20px auto;
  max-width: 300px;
}

.cockpit {
  height: 250px;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-bottom: 5px solid #d8d8d8;
}

.cockpit:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  border-radius: 50%;
  border-right: 5px solid #d8d8d8;
  border-left: 5px solid #d8d8d8;
}

.cockpit h1 {
  width: 60%;
  margin: 100px auto 35px auto;
}

.exit {
  position: relative;
  height: 50px;
}

.exit:before,
.exit:after {
  content: "EXIT";
  font-size: 14px;
  line-height: 18px;
  padding: 0px 2px;
  font-family: "Arial Narrow", Arial, sans-serif;
  display: block;
  position: absolute;
  background: green;
  color: white;
  top: 50%;
  transform: translate(0, -50%);
}

.exit:before {
  left: 0;
}

.exit:after {
  right: 0;
}

.fuselage {
  border-right: 5px solid #d8d8d8;
  border-left: 5px solid #d8d8d8;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.row {}

.seats {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.seat{
  margin-left:18px;
  display: flex;
  flex: 0 0 14.28571428571429%;
  padding: 5px;
  position: relative;
}

.seat:nth-child(3) {
  margin-right: 14.28571428571429%;
}

.seat input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

.seat input[type=checkbox]:checked + label {
  background: #bada55;
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  animation-duration: 300ms;
  animation-fill-mode: both;
}

.seat input[type=checkbox]:disabled + label {
  background: #dddddd;
  text-indent: -9999px;
  overflow: hidden;
}

.seat input[type=checkbox]:disabled + label:after {
  content: "X";
  text-indent: 0;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.seat input[type=checkbox]:disabled:hover {
  box-shadow: none;
  cursor: not-allowed;
}

.seat label {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 4px 0;
  background: #F42536;
  border-radius: 5px;
  animation-duration: 300ms;
  animation-fill-mode: both;
}

.seat label:before {
  content: "";
  position: absolute;
  width: 75%;
  height: 75%;
  top: 1px;
  left: 50%;
  transform: translate(-50%, 0%);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
}

.seat label:hover {
  cursor: pointer;
  box-shadow: 0 0 0px 2px #5C6AFF;
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.displayforpage{
    color:#018de5
}



